#message {
    font-family: garamond;
    font-size: 25px;
    
}
#word{
    display:none;
    font-size:30px;
}

#wiseword{
    font-style: italic;
    font-size:15px;
    display:none;
    font-family: tahoma;
}

#data{
    font-size:20px;
}
.B2{
    padding:20px;
    font-size:20px;
    margin:5px;
    text-align: center;
    box-shadow: 2px 2px 5px red;
}

.B3{
    display:none;
}
