#word{
    display:none;
    font-size:30px;
}

#wiseword{
    font-style: italic;
    font-size:15px;
    display:none;
}

#data{
    font-size:20px;
}

.B2{
    padding:20px;
    font-size:20px;
    margin:5px;
}

.B3{
    display:none;
}
